* {
    box-sizing: border-box;
  }
  .App {
    align-items: center;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;

  }
  .App .header{
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: #f7f6f5;
    color: #ca5f1d;
  }

  .App .header button{
    padding: 10px 15px;
    border: 2px solid #ca5f1d;
    background-color: #e06e27;
    color: azure;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: background-color 0.3s, color 0.3s; 
  }
  .App .header button:hover {
    border: 2px solid #242424;
    background-color: black;
    color: white;
  }
  
  .App .Meta {
    width: 40%;
    flex-grow: 1;
    padding-right: 15px;
  }
  
  .App .Meta p{
    font-family: "Rubik", sans-serif;
    text-align: left;
    color: #3e3e3e;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .App .Meta Select{
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .App .Meta input {
    font-family: inherit;
    padding: 8px;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .App .Meta .btn{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .App .Meta button {
    
    padding: 10px 15px;
    border: 2px solid #ca5f1d;
    background-color: #e06e27;
    color: azure;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: background-color 0.3s, color 0.3s; 
  }
  .App .Meta button:hover {
    border: 2px solid #242424;
    background-color: black;
    color: white;
  }
  .App .preview,
  .App .nothing{
    margin-top: 80px;
  }
  
  .App #downloadWrapper {
    padding: 20px;
  }
  .App #certificateWrapper {
    box-shadow: 0 0px 3px #232323;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    font-family: "Rubik", sans-serif;
    margin-bottom: 20px;
  }
  .App #certificateWrapper img {
    display: block;
    width: 60vw;
  }

  .App #certificateWrapper p {
    width: 100%;
    font-family: "Rubik", sans-serif;
    margin: 0;
    position: absolute;
    text-align: left;
    left: 34%;
    top: 46%;
    font-size: 2vw;
  }

  @media (max-width: 768px) {
    .App .Meta {
      width: 100%; /* Full width on smaller screens */
      padding-right: 0; /* No right padding on smaller screens */
    }
  }